/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.background-white{
	-fx-background-color: white;
}

/*Buttons */
.button-red { 
	-fx-background-color: #A63446; 
	-fx-text-fill: #FBFEF9; 
}
.button-blue{
	-fx-background-color: #0C6291; 
	-fx-text-fill: #FBFEF9; 
}

/*Text */
.header-red{
	-fx-fill: #A63446;
	-fx-font-size: 15px;
}
.restaurant-title{
	-fx-font-size: 18px;
}
.secondary-header{
	-fx-font-size: 15px;
}
.restaurant-description{
	-fx-font-size: 12px;
}

/*Toggle Group */
.toggle-button:selected{
	-fx-background-color: #0C6291;
	-fx-text-fill: #FBFEF9;
}
.toggle-button{
	-fx-background-color: white;
	-fx-border-color:#0C6291;
	-fx-border-radius: 3 3 0 0;
}

/*ScrollPane */
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

/*Outline for node */
.blue-border{
	-fx-border-color: #0C6291;
}